<h1>Please sign up</h1>

<% if flash[:errors] && !flash[:errors].empty? %>
	Sorry, there were the following problems with the form.
	<ul id="errors">
		<% flash[:errors].each do |error| %>
		<li><%= error %></li>
		<% end %>
	</ul>
<% end %>

<form action="/users" method="post">
	Email: <input name="email" type="text" value="<%= @user.email %>">
	Password: <input name="password" type="password">
	Confirm Password: <input name="password_confirmation" type="password">
	<input type="submit" value="Sign up">
</form>

