<form action="/users" method="post">
	<input name="password_token" type="hidden" value="<%= @token %>">
	Password: <input name="password" type="password">
	Confirm Password: <input name="password_confirmation" type="password">
	<input type="submit" value="Sign up">
</form>